Assigning values to a variable. Here we are creating variables and assigning them values

In [36]:
a = 10
print(a)

10

In [37]:
b = "Today is a bright day"
print(b)

Today is a bright day

In [38]:
c = 5.0
print(c)

5.0

In [32]:
d = "11"
print(d)

11

Finding the type of the variable

In [33]:
type(a)

int

In [34]:
type(b)

str

In [35]:
type(c)

float

In [9]:
type(d)

str

Variable Names can contain both letters and numbers but they have to begin with a letter

 Examples of illegal variable names

In [40]:
99name = "Deepali"

SyntaxError: invalid syntax (<ipython-input-40-a0678e2250a9>, line 1)

The variable 99name gives an invalid syntax because it begins with a letter

In [42]:
name@ = "Deepali"

SyntaxError: invalid syntax (<ipython-input-42-f389ad306bca>, line 1)

The variable name@ throws an error of invalid syntax because a variable name because a variable name cannot have a special character in its name

In [44]:
if = "Sharma"

SyntaxError: invalid syntax (<ipython-input-44-2e807eb18125>, line 1)

The above variable throws an error as 'if' is one of the Python's keyword<br>
The interpreter uses keyword to identify the structure of the program

<b>Exercise 2 <b>

Exercise 2.2. Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [45]:
width = 17
height = 12.0
delimiter = '.'

# 1. width/2

new_width = width/2
print(new_width)
type(new_width)

# 2. width/2.0

new_width_float = width/2.0
print(new_width_float)

# 3. height/3
new_height = height/3
print(new_height)


# 4. 1 + 2 * 5
calculation = 1 + 2 * 5
print(calculation)


# 5. delimiter * 5
delimiter = delimiter * 5
print(delimiter)

8.5
8.5
4.0
11
.....

Exercise 2.3. Practice using the Python interpreter as a calculator:
1. The volume of a sphere with radius r is 4
3
Ï€r
3
. What is the volume of a sphere with radius 5?
Hint: 392.7 is wrong!

In [48]:
pi = 3.1415926535897931
r = 5
volume = 4/3*pi*r**3
volume_radius_five = 4/3*pi*r**3
print(volume_radius_five)

523.5987755982989