<b>Type Conversion</b><BR>The process of converting the value of one data type (integer, string, float, etc.) to another data type is called type conversion.

Convert an integer to float

In [9]:
x = 99 
float_x = float(x)
print (float_x)

99.0

In [10]:
y = 100.99
z = x+y 
print(z)

199.99

Let us change the variable types of both m and n to integer and store the results in p

In [11]:
m = "13"
n = 11.0
p = int(m) + int(n)
print(p)

24

In [16]:
y = '4'
z = '3'
o = y*int(z) # here z is converted into an integer and y is a string

In [17]:
print(o)     # The output prints z, y times

444

In [25]:
z = 11
print("hello" + str(z))

hello11

Various functions of a list

In [30]:
z = [9,99]
max(z)

99

In [32]:
z = list()
print (z)

[]

In [34]:
z = range(5)
print (len(z))

5

In [36]:
z = range(1,5)
print (len(z))

4

In [37]:
z = range(1,10,2)
print (len(z))
print (z)

5
range(1, 10, 2)

In [39]:
z=[1,3,5,7,9]
z.reverse()
z

[9, 7, 5, 3, 1]

In [40]:
z.append(99)

In [41]:
z

[9, 7, 5, 3, 1, 99]

In [43]:
y = z[:]
y

[9, 7, 5, 3, 1, 99]

In [44]:
z[0]

9

In [45]:
z[1]

7